<h1>Cinema Ironhack</h1>
<style>
  body{ background-image: url('/images/cinema.jpg'); background-size: cover;
  background-repeat: no-repeat; }
</style>
<a href="/movies" id="white-button">Check the movies</a>